<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balloons</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    <link rel="shortcut icon" type="image/png" href="/static/styles/images/favicon.ico"/>
</head>

<body>
<h2>How many balloons would it take to lift something into the sky?</h2>
{% if current_value and balloons_count %}
    <div class="current-values">
        <p>To lift {{ current_value.weight }} {{ current_value.measure }} into the sky you need</p>
        <p class="balloons-count">{{ balloons_count }}</p>
        <p>balloons</p>
    </div>
{% endif %}
<div class="balloons-container">
    <div class="balloon"
         style="background: url(/static/styles/images/balloons/orange_balloon.png); background-size: cover;"></div>
    <div class="balloon"
         style="background: url(/static/styles/images/balloons/green_balloon.png); background-size: cover;"></div>
    <div class="balloon"
         style="background: url(/static/styles/images/balloons/pink_balloon.png); background-size: cover;"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"
         style="background: url(/static/styles/images/balloons/yellow_balloon.png); background-size: cover;"></div>
    <div class="balloon"
         style="background: url(/static/styles/images/balloons/blue_balloon.png); background-size: cover;"></div>
    <div class="balloon"
         style="background: url(/static/styles/images/balloons/red_balloon.png); background-size: cover;"></div>
</div>
<div class="examples">
    {% for example in examples %}
        <div class="example-card">
            <a href="/example/{{ example.name }}"><img src="{{ example.image }}" alt="{{ example.name }}"
                                                       title="{{ example.name }} ({{ example.weight }} gram)"></a>
        </div>
    {% endfor %}
</div>

<form action="{% url 'main_page' %}" method="post">
    {% csrf_token %}
    <p><input name="weight" type="number" min="1" value="1">
        <select size="1" name="measure">
            <option value="gram" selected>gram</option>
            <option value="kilogram">kilogram</option>
            <option value="tonne">tonne</option>
        </select></p>
    <p><input type="submit" value="Count"></p>
</form>
</body>
</html>