html {
    background: url("images/sky.jpg") no-repeat;
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-size: 35px;
}

.current-values {
    padding: 30px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balloons-count {
    font-size: 140px;
    font-weight: bold;
    margin: 20px;
}


form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

form input[type=submit] {
    width: 200px;
    height: 30px;
    font-weight: bold;
}

form input[type=number] {
    width: 150px;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

form select {
    width: 125px;
    height: 38px;
    font-size: 25px;
}

.examples {
    position: absolute;
    width: 550px;
    height: 170px;
    overflow-y: auto;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.example-card a {
    width: 200px;
    height: 160px;
    overflow: hidden;
}

.example-card a img {
    width: 140px;
    height: 140px;
    object-fit: contain;
    /*border: 2px red solid;*/
}

.balloons-container {
    z-index: -1;
    width: 100vw;
    height: calc(100vh - 100px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}

.balloon {
    content: "";
    width: 120px;
    height: 350px;
    /*border: 2px red solid;*/
    background-size: cover;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

}

.balloon:nth-child(3n-2) {
    width: 90px;
    height: 275px;
    animation-name: move1;
    animation-duration: 5s;
}

.balloon:nth-child(3n-1) {
    width: 140px;
    height: 370px;
    animation-name: move2;
    animation-duration: 6s;
}

.balloon:nth-child(3n) {
    width: 110px;
    height: 340px;
    animation-name: move3;
    animation-duration: 5s;
}

@keyframes move1 {
    0%, 100% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(-25px);
    }
}

@keyframes move2 {
    0%, 100% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(30px);
    }
}

@keyframes move3 {
    0%, 100% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(10px);
    }
}